// colors
$primary-color: #03a9f4;
$secondary-color: #ffcc80;

// layouts
$spacer: 2rem;

// text variables
$text-size: 3rem;
$text-size-tiny:1.3rem;
$text-size-small:1.8rem;
$text-size-big:4.5rem;
$text-size-large:5rem;
$text-size-input: 2rem;

$title-size: 6rem;
$title-size-tiny: 3rem;
$title-size-smaller: 4.5rem;
$title-size-small: 5rem;
$title-size-large: 8rem;
$title-size-xl: 12rem;
$title-size-menu: 6rem;